02工程/03代码/Lottery/trunk/SLS.Components/SLS.SilverLight.FilterShrink/Service References/ServiceModel/Model3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfT_Model">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="T_Model" nillable="true" type="tns:T_Model" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfT_Model" nillable="true" type="tns:ArrayOfT_Model" />
  <xs:complexType name="T_Model">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descption" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PlayTypeID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" nillable="true" type="xs:long" />
      <xs:element minOccurs="0" name="id" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="T_Model" nillable="true" type="tns:T_Model" />
</xs:schema>