02工程/03代码/Charity/trunk/ichari/Ichari.Web/Web References/LottoUser/ichairRegister.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegister">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RealityName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UserRegisterResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserRegisterResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapIn">
    <wsdl:part name="parameters" element="tns:UserRegister" />
  </wsdl:message>
  <wsdl:message name="UserRegisterSoapOut">
    <wsdl:part name="parameters" element="tns:UserRegisterResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpGetIn">
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="RealityName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpPostIn">
    <wsdl:part name="Name" type="s:string" />
    <wsdl:part name="Password" type="s:string" />
    <wsdl:part name="Email" type="s:string" />
    <wsdl:part name="RealityName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UserRegisterHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="ichairRegisterSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterSoapIn" />
      <wsdl:output message="tns:UserRegisterSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ichairRegisterHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterHttpGetIn" />
      <wsdl:output message="tns:UserRegisterHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ichairRegisterHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <wsdl:input message="tns:UserRegisterHttpPostIn" />
      <wsdl:output message="tns:UserRegisterHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ichairRegisterSoap" type="tns:ichairRegisterSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap:operation soapAction="http://tempuri.org/UserRegister" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ichairRegisterSoap12" type="tns:ichairRegisterSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <soap12:operation soapAction="http://tempuri.org/UserRegister" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ichairRegisterHttpGet" type="tns:ichairRegisterHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <http:operation location="/UserRegister" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ichairRegisterHttpPost" type="tns:ichairRegisterHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UserRegister">
      <http:operation location="/UserRegister" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ichairRegister">
    <wsdl:port name="ichairRegisterSoap" binding="tns:ichairRegisterSoap">
      <soap:address location="http://219.143.228.243:82/ichairRegister.asmx" />
    </wsdl:port>
    <wsdl:port name="ichairRegisterSoap12" binding="tns:ichairRegisterSoap12">
      <soap12:address location="http://219.143.228.243:82/ichairRegister.asmx" />
    </wsdl:port>
    <wsdl:port name="ichairRegisterHttpGet" binding="tns:ichairRegisterHttpGet">
      <http:address location="http://219.143.228.243:82/ichairRegister.asmx" />
    </wsdl:port>
    <wsdl:port name="ichairRegisterHttpPost" binding="tns:ichairRegisterHttpPost">
      <http:address location="http://219.143.228.243:82/ichairRegister.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>