02工程/03代码/Lottery/trunk/SLS.Components/SLS.SilverLight.FilterShrink/Service References/ServiceReference1/Service34.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://bet.demo.shovesoft.cn/Silverlight/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassRate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MatchID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPassRateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetPassRateResult" nillable="true" type="q1:ArrayOfT_PassRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>